{% if award.description %}
    <blockquote>
        <p>{{ award.description | bleach_markup }}</p>
    </blockquote>
{% endif %}

<div class="group section text-center">
    {% if award.nomination %}
        <div class="col span_1_of_3">
            <h4>{{_("Awarded to:")}}</h4>
            <a href="{{ award.user.get_absolute_url() }}" class="card">
                <img src="{{ user_avatar(award.user) }}" class="image" alt="{{ award.user }}" width="256" height="256">
                <span class="label">
                    {{ award.user }}
                    {% if request.user == award.user %} - <strong>{{ _("that's you!") }}</strong>{% endif %}
                </span>
            </a>
        </div>
        <div class="col span_1_of_3">
            <h4>{{_("Nominated by:")}}</h4>
            <a href="{{ award.nomination.get_absolute_url() }}" class="card">
                <img src="{{ user_avatar(award.nomination.creator) }}" class="image" alt="{{ award.nomination.creator }}" width="256" height="256">
                <span class="label">
                    {{ award.nomination.creator }}
                    {% if request.user == award.nomination.creator %} - <strong>{{ _("that's you!") }}</strong>{% endif %}
                </span>
            </a>
        </div>
        <div class="col span_1_of_3">
            <h4>{{_("Approved by:")}}</h4>
            {% if award.badge.nominations_autoapproved %}
                <span class="card">
                    <span class="image"><i class="fa fa-user"></i></span>
                    <span class="label">Auto-approved</span>
                </span>
            {% elif award.nomination.approver %}
                <a href="{{ award.nomination.approver.get_absolute_url() }}" class="card">
                    <img src="{{ user_avatar(award.nomination.approver) }}" class="image" alt="{{ award.nomination.approver }}" width="256" height="256">
                    <span class="label">
                        {{ award.nomination.approver }}
                        {% if request.user == award.nomination.approver %} - <strong>{{ _("that's you!") }}</strong>{% endif %}
                    </span>
                </a>
            {% else %}
                <span class="card">
                    <span class="image"><i class="fa fa-question-circle"></i></span>
                    <span class="label">Somebody!</span>
                </span>
            {% endif %}
        </div>
    {% else %}
        <div class="col span_1_of_2">
            <h4>{{_("Awarded to:")}}</h4>
            <a href="{{ award.user.get_absolute_url() }}" class="card">
                <img src="{{ user_avatar(award.user) }}" class="image" alt="{{ award.user }}" width="256" height="256">
                <span class="label">
                    {{ award.user }}
                    {% if request.user == award.user %} - <strong>{{ _("that's you!") }}</strong>{% endif %}
                </span>
            </a>
        </div>
        <div class="col span_1_of_2">
            <h4>{{_("Awarded by:")}}</h4>
            <a href="{{ award.creator.get_absolute_url() }}" class="card">
                <img src="{{ user_avatar(award.creator) }}" class="image" alt="{{ award.creator }}" width="256" height="256">
                <span class="label">
                    {{ award.creator }}
                    {% if request.user == award.creator %} - <strong>{{ _("that's you!") }}</strong>{% endif %}
                </span>
            </a>
        </div>
    {% endif %}
</div>
