{% set cols = cols or 6 %}
{% set row_index = cycler(*range(cols)) %}
<div class="section group">
    <ul class="awards grid">
        {%- for award in award_list -%}
            {%- if award.image -%}
                {%- set img_url = award.image.url -%}
            {%- elif award.badge.image -%}
                {%- set img_url = award.badge.image.url -%}
            {%- else -%}
                {%- set img_url = static("img/default-badge.png") -%}
            {%- endif -%}
            <li class="award col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                {% if show_user == false %}
                    <a href="{{ award.get_absolute_url() }}" class="card">
                        <span class="figure">
                            <img src="{{ img_url }}" alt="{{ award.badge.title }}" width="128" height="128" class="image">
                        </span>
                        <span class="label">{{ award.badge.title }}</span>
                    </a>
                {% elif show_badge == false %}
                    <a href="{{ award.get_absolute_url() }}" class="card">
                        <span class="figure">
                            <img src="{{ user_avatar(award.user) }}" alt="{{ award.user }}" width="128" height="128" class="image">
                        </span>
                        <span class="label">{{ award.user }}</span>
                    </a>
                {% else %}
                    <a href="{{ award.get_absolute_url() }}" class="card-wrapper">
                        <span class="card card-front">
                            <span class="figure">
                                <img src="{{ img_url }}" alt="{{ award.badge.title }}" width="128" height="128" class="image">
                            </span>
                            <span class="label">{{ award.badge.title }}</span>
                        </span>
                        <span class="card card-back">
                            <span class="figure">
                                <img src="{{ user_avatar(award.user) }}" alt="{{ award.user }}" width="128" height="128" class="image">
                            </span>
                            <span class="label">{{ award.user }}</span>
                        </span>
                    </a>
                {% endif %}
            </li>
        {%- endfor -%}
        {%- if include_more_awards_item -%}
            {%- if include_more_awards_item == true -%}
                {%- set include_more_awards_item = url('badger.views.awards_list') -%}
            {%- endif -%}
            <li class="see-all award col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                <a href="{{ include_more_awards_item }}" class="card">
                    <span class="image"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    <span class="label"><em>{{ _('See all awards') }}</em></span>
                </a>
            </li>
        {%- endif -%}
    </ul>
    {%- if not hide_pagination -%}
        {%- include "badger/includes/pagination.html" -%}
    {%- endif -%}
</div>