{% macro figure (img, label, front_or_back=None) %}
    {% if front_or_back %}<span class="card card-{{ front_or_back }}">{% endif %}
    <span class="figure">
        <img src="{{ img }}" alt="" width="128" height="128" class="image">
    </span>
    <span class="label">{{ label }}</span>
    {% if front_or_back %}</span>{% endif %}
{% endmacro %}

{% set cols = cols or 6 %}
{% set row_index = cycler(*range(cols)) %}
<div class="section group">
    <ul class="awards grid" aria-label="{{ _('List of awards') }}">
        {%- for award in award_list -%}
            {%- if award.image -%}
                {%- set img_url = award.image.url -%}
            {%- elif award.badge.image -%}
                {%- set img_url = award.badge.image.url -%}
            {%- else -%}
                {%- set img_url = static("img/default-badge.png") -%}
            {%- endif -%}
            <li class="award col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                {%- set label = _('{user} was awarded {badge}') | fe(user=award.user, badge=award.badge.title) -%}
                {% if show_user == false %}
                    <a href="{{ award.get_absolute_url() }}" class="card" aria-label="{{ label }}">
                        {{ figure(img_url, award.badge.title) }}
                    </a>
                {% elif show_badge == false %}
                    <a href="{{ award.get_absolute_url() }}" class="card" aria-label="{{ label }}">
                        {{ figure(user_avatar(award.user), award.user) }}
                    </a>
                {% else %}
                    <a href="{{ award.get_absolute_url() }}" class="card-wrapper" aria-label="{{ label }}">
                        {% if user_first %}
                            {{ figure(user_avatar(award.user), award.user, 'front') }}
                            {{ figure(img_url, award.badge.title, 'back') }}
                        {% else %}
                            {{ figure(img_url, award.badge.title, 'front') }}
                            {{ figure(user_avatar(award.user), award.user, 'back') }}
                        {% endif %}
                    </a>
                {% endif %}
            </li>
        {%- endfor -%}
        {%- if include_more_awards_item -%}
            {%- if include_more_awards_item == true -%}
                {%- set include_more_awards_item = url('badger.views.awards_list') -%}
            {%- endif -%}
            <li class="see-all award col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                <a href="{{ include_more_awards_item }}" class="card">
                    <span class="image"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    <span class="label"><em>{{ _('See all awards') }}</em></span>
                </a>
            </li>
        {%- endif -%}
    </ul>
    {%- if not hide_pagination -%}
        {%- include "badger/includes/pagination.html" -%}
    {%- endif -%}
</div>