{% if award and award.image %}
    {% set image_url = award.image.url %}
{% elif badge.image %}
    {% set image_url = badge.image.url %}
{% else %}
    {# TODO: Put the URL for default badge image in settings #}
    {% set image_url = static("img/default-badge.png") %}
{% endif %}

<div class="panel">
    <div class="section group">
        <div class="col span_1_of_3">
            {% if award %}<a href="{{ badge.get_absolute_url() }}">{% endif %}
                <img src="{{ image_url }}" width="256" height="256" class="image">
            {% if award %}</a>{% endif %}
        </div>
        <div class="meta col span_2_of_3">
            {% if badge.description %}
                <blockquote class="description">
                    <p>{{ badge.description | bleach_markup }}</p>
                </blockquote>
            {% endif %}
            <div class="section group">
                <div class="col span_1_of_2">
                    <dl class="meta">
                        <dt class="creator">{{ _('Made by') }}</dt>
                            <dd><a href="{{ badge.creator.get_absolute_url() }}">{{ badge.creator }}</a></dd>
                        <dt class="created">{{_("Created")}}</dt>
                            <dd>{{ badge.created.date() }}</dd>
                        {% if badge.created != badge.modified %}
                            <dt class="modified">{{_("Modified")}}</dt>
                                <dd>{{ badge.modified.date() }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col span_1_of_2">
                    {% if badge.tags and badge.tags.count() %}
                        <ul class="tags small-tags">
                            {% for tag in badge.tags.all() %}
                                <li><a class="tag" href="{{ url('badger.badges_list', tag_name=tag.name) }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if not award and show_actions != false %}
        {% set can_edit = badge.allows_edit_by(request.user) %}
        {% set can_delete = badge.allows_delete_by(request.user) %}
        {% set can_issue = badge.allows_award_to(request.user) or badge.allows_manage_deferred_awards_by(request.user) %}
        {% if can_edit or can_delete or can_issue %}
            <p class="actions">
                {% if can_issue %}
                    <a class="button issue" href="">{{ _('Issue badge') }}</a>
                {% endif %}
                {% if can_edit %}
                    <a class="button-sand edit" href="{{ url('badger.views.edit', badge.slug) }}">{{ _('Edit badge') }}</a>
                {% endif %}
                {% if can_delete %}
                    <a class="button-sand delete" href="{{ url('badger.views.delete', badge.slug) }}">{{ _('Delete badge') }}</a>
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
</div>
