{% set cols = cols or 6 %}
{% set row_index = cycler(*range(cols)) %}
<div class="sectiong group">
    <ul class="badges grid">
        {%- for badge in badge_list -%}
            {%- if badge.image -%}
                {%- set img_url = badge.image.url -%}
            {%- else -%}
                {%- set img_url = static("img/default-badge.png") -%}
            {%- endif -%}
            <li class="badge col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                <a href="{{ badge.get_absolute_url() }}" class="card">
                    <img src="{{ img_url }}" alt="{{ badge.title }}" width="128" height="128" class="image">
                    <span class="label">{{ badge.title }}</span>
                </a>
            </li>
        {%- endfor -%}
        {%- if include_new_badge_item != false -%}
            <li class="new badge col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                <a href="{{ url('badger.views.create') | urlparams(tags=tag_name) }}" class="card">
                    <span class="image"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                    <span class="label"><em>{{ _('Create new badge') }}</em></span>
                </a>
            </li>
        {%- endif -%}
        {%- if include_more_badges_item -%}
            {%- if include_more_badges_item == true -%}
                {%- set include_more_badges_item = url('badger.views.badges_list') -%}
            {%- endif -%}
            <li class="see-all badge col span_1_of_{{ cols }}{% if not row_index.next() %} new-row{% endif %}">
                <a href="{{ include_more_badges_item }}" class="card">
                    <span class="image"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    <span class="label"><em>{{ _('See all badges') }}</em></span>
                </a>
            </li>
        {%- endif -%}
    </ul>
    {%- if not hide_pagination -%}
        {%- include "badger/includes/pagination.html" -%}
    {%- endif -%}
</div>