{% extends "badger/base.html" %}

{% if badge %}
    {% set TITLE = _("Awards for &lsquo;{badge}&rsquo;") | f(badge=badge) %}
{% else: %}
    {% set TITLE = _("Awards") %}
{% endif %}

{% block pageid %}awards{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent badge awards') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
{% endblock %}

{% block content %}
    {% with show_badge = (badge is none) %}
        {% include "badger/includes/awards.html" %}
    {% endwith %}
{% endblock %}
