{% extends "badger/base.html" %}

{% set TITLE = award.__str__() %}

{% set user = award.user %}
{% set award_url = request.build_absolute_uri(url('badger.views.award_detail', award.badge.slug, award.id)) %}
{% if award.image %}
    {% set image_url = award.image.url %}
{% elif badge.image %}
    {% set image_url = badge.image.url %}
{% else %}
    {# TODO: Put the URL for default badge image in settings #}
    {% set image_url = "/media/img/default-badge.png" %}
{% endif %}

{% block pageid %}award_delete{% endblock %}

{% block content %}
    {% with show_actions = false %}
        {% include "badger/includes/badge_awarded.html" %}
    {% endwith %}

    <h3>{{ _("Are you sure you want to delete this award?") }}</h3>

    <form method="post">
        {{ csrf() }}
        <p>{{ _("This action cannot be undone, and this award will be lost for eternity.") }}</p>
        <p>
            <input type="submit" class="button-negative" value="{{ _("Yes, delete award") }}">
            <a href="{{ award.get_absolute_url() }}" class="button">{{ _("No thanks") }}</a>
        </p>
    </form>
{% endblock %}
