{% extends "badger/base.html" %}

{% set TITLE = badge.title %}

{% block pageid %}badge_nominate{% endblock %}

{% block content %}
    {% with show_actions = false %}
        {% include "badger/includes/badge.html" %}
    {% endwith %}

    <h3>{{ _("Submit badge nominations") }}</h3>

    <form class="basic-form" method="post">
        {{ csrf() }}
        {{ form.as_p() }}
        <p><button type="submit" class="button-positive">{{ _("Submit nominations") }}</button></p>
    </form>
{% endblock %}
