{% extends "badger/base.html" %}

{% set TITLE = 'Create your badge' %}

{% block pageid %}badge_create{% endblock %}

{% block content %}
    <form id="edit_badge" method="post">
        {{ csrf() }}
        <div class="panel">
            <div class="section group">
                <div class="col span_1_of_3">
                    <img src="{{ image.url }}" width="256" height="256" class="image">
                </div>
                <div class="meta col span_2_of_3">
                    <ul class="form">
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                <li{% if field.required %} class="required"{% endif %}>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="error text-danger"><i class="fa fa-warning"></i> {{ _(error) }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}
                                    {% if field.help_text or field.field.required %}
                                        <p class="helptext">{{ field.help_text }}{% if field.field.required %} <em>(Required)</em>{% endif %}</p>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <p class="actions">
                <button class="button-positive" name="action" value="save">{{ _("Create badge") }}</button>
            </p>
        </div>
    </form>
{% endblock %}
