{% extends "badger/base.html" %}

{% set TITLE = _("Badges created by {user}") | f(user=user) %}

{% block pageid %}badges_by_user{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent awards') }}"
        href="{{ url('badger.feeds.badges_by_user', 'atom', user.username) }}" />
{% endblock %}

{% block content %}
<section class="badge_list">
    {% with include_new_badge_item = false %}
        {% include "badger/includes/badges.html" %}
    {% endwith %}
</section>
{% endblock %}
