{% extends "badger/base.html" %}

{% set TITLE = _("Edit &lsquo;{badge_title}&rsquo;") | f(badge_title=badge.title) %}

{% block pageid %}badge_edit{% endblock %}

{% block content %}

<form id="edit_badge" method="post">
    {{ csrf() }}
    <div class="panel">
        <div class="section group">
            <div class="col span_1_of_3">
                <img src="{{ badge.image.url }}" width="256" height="256" class="image">
                <!-- <p><button class="button-positive" name="action" value="edit-picture"><i class="fa fa-pencil"></i> Edit</button></p> -->
            </div>
            <div class="meta col span_2_of_3">
                <ul class="form">
                    {% for field in form %}
                        {% if not request.can_edit_design or field.name != 'image' %}
                            <li{% if field.required %} class="required"{% endif %}>
                                {% if field.errors %}
                                    <div class="field-error">
                                    {% for error in field.errors %}
                                        <p class="error text-danger"><i class="fa fa-warning"></i> {{ _(error) }}</p>
                                    {% endfor %}
                                {% endif %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                                {% if field.help_text or field.field.required %}
                                    <p class="helptext">{{ field.help_text }}{% if field.field.required %} <em>(Required)</em>{% endif %}</p>
                                {% endif %}
                                {% if field.errors %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p class="actions">
            <button class="button-positive" name="action" value="save">{{ _("Save badge") }}</button>
            {% if request.can_edit_design %}
                <button class="button" name="action" value="save-edit-image">{{ _("Save and edit image") }}</button>
            {% endif %}
            <a href="{{ badge.get_absolute_url() }}" class="button-negative">{{ _("Cancel") }}</a>
        </p>
    </div>
</form>

{% endblock %}
