{% extends "badger/base.html" %}

{% set TITLE = _('Award &lsquo;{badge_title}&rsquo;' | f(badge_title=badge.title)) %}

{% block pageid %}badge_award{% endblock %}

{% block content %}

    {% with show_actions = false %}
        {% include "badger/includes/badge.html" %}
    {% endwith %}

    <h3>{{ _("Issue badge awards") }}</h3>

    <form class="basic-form" method="post">
        {{ csrf() }}
        {{ form.as_p() }}
        <p><button type="submit" class="button-positive">{{ _("Issue badge awards") }}</button></p>
    </form>
{% endblock %}
