{% extends "badger/base.html" %}

{% set query_string = request.GET.get('q', None) %}

{% if tag_name %}
    {% set TITLE = _('Badges tagged &lsquo;{tag}&rsquo;') | f(tag=tag_name) %}
{% elif query_string %}
    {% set TITLE = _('Search results for &lsquo;{query}&rsquo;') | f(query=query_string) %}
{% else %}
    {% set TITLE = _('Badges') %}
{% endif %}

{% block pageid %}badges{% endblock %}

{% block content %}
    {% if badge_list.count() == 0 %}
        {% if query_string %}
            <p class="text-center">
                {{ _('We couldn\'t find any results for <strong>&ldquo;{query}&rdquo;</strong>.') | fe(query=query_string) }}
                <label for="search">{{ _('Try searching for something else.') }}</label>
            </p>
        {% endif %}
    {% else %}
        {% with include_new_badge_item = not query_string %}
            {% include "badger/includes/badges.html" %}
        {% endwith %}
    {% endif %}

    {% if award_list %}
        <h3>{{ _('Recent awards for these badges') }}</h3>
        {% with award_list = award_list[:5], hide_pagination = True %}
            {% include "badger/includes/awards_list.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
