{% extends "badger/base.html" %}

{% set TITLE = _('Claim the &lsquo;{badge_title}&rsquo; badge') | f(badge_title=badge.title) %}

{% block pageid %}claim_badge{% endblock %}

{% block content %}

<section class="row-fluid">
    {% include "badger/includes/badge_claimed.html" %}

    <div class="group section">
        <div class="col span_1_of_3">
        </div>
        <div class="col span_1_of_3">
        </div>
        <div class="col span_1_of_3">
        </div>
    </div>
    
    {% if user.is_anonymous() %}
        <p>{{ _("Sign in to claim this badge") }}.</p>
    {% else %}
        {% if deferred_award.allows_grant_by(request.user) %}
            <h3>{{ _("Grant") }}</h3>
            <form class="basic-form" method="post">
                {{ csrf() }}
                <input type="hidden" name="is_grant" value="1" />
                <p>{{ _("You can grant this award to someone else") }}
                {{ grant_form.as_p() }}
                <p><button type="submit" class="button-positive">{{ _("Grant this award") }}</button></p>
            </form>
        {% endif %}

        {% if deferred_award.allows_claim_by(request.user) %}
            <h3>{{ _("Claim") }}</h3>
            {% set email_mismatch = (deferred_award.email and request.user.email != deferred_award.email) %}
            <form class="basic-form{{ email_mismatch and ' email-mismatch ' or '' }}" method="post">
                {{ csrf() }}
                {% if email_mismatch %}
                    {# This isn't enforced, since an awardee might have multiple email addresses #}
                    {% trans %}
                        <p><span class="label label-warning">Note:</span>
                            <em>This award may not be intended for you.</em>
                            Your email address does not match this award claim.
                        </p>
                    {% endtrans %}
                {% else %}
                    <p>{{ _("You can claim this award for yourself") }}</p>
                {% endif %}
                <p><button type="submit" class="button-positive">{{ _("Claim this award") }}</button></p>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
