{% extends "badger/base.html" %}

{% set TITLE = _("Claim codes for {badge}") | f(badge=badge) %}

{% block pageid %}claims_list{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
    {% for deferred_award in deferred_awards %}
        <div class="group section">
            <div class="col span_1_of_4">
                <a href="" class="card">
                    <img src="{{ badge.image.url }}" width="200" height="200" class="image">
                    <span class="label">{{ badge }}</span>
                </a>
            </div>
            <div class="col span_1_of_4">
                {% set self_url = request.build_absolute_uri(deferred_award.get_claim_url()) %}
                {{ qr_code_image(self_url, alt="Scan to claim!", size="200") }}
            </div>
        </div>
        <a class="code" href="{{ url('badger.claim_deferred_award', deferred_award.claim_code) }}"><code>{{  deferred_award.claim_code }}</code></a>
        <code class="url">{{ request.build_absolute_uri('/') }}</code>
    </li>
    {% endfor %}
{% endblock %}
