{% extends "badger/base.html" %}

{% block pageid %}home{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently awarded badges') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently created badges') }}"
        href="{{ url('badger.feeds.badges_recent', 'atom') }}" />
{% endblock %}

{% block site_title %}
    <a href="http://www.mozilla.org/" id="tabzilla" aria-label="Mozilla links">Mozilla</a>
{% endblock %}
{% block main_navigation %}{% endblock %}

{% block outer_content %}
    <main id="content" role="main">
        <div class="constrained">
            <div class="hero">
                <h1 class="title">
                    <span class="mozilla-wordmark">Mozilla</span>
                    Badges
                </h1>
                <p class="tagline">{{ _('Agnoscere res gestas omnes') }}</p>
                <!-- Worth noting I haven't done Latin in about 15 years! -->
                <img src="{{ static('img/badge-panel.png') }}" alt="" style="display: block; margin: 0 auto;">
                <hr>
                <form method="get" action="{{ url('badger.views.badges_list') }}" class="search" title="Search">
                    <label for="search"><i class="fa fa-search" aria-label="{{ _('Search') }}" aria-hidden="true"></i></label>
                    <input type="search" name="q" id="search" class="q"
                        value="{{ request.GET.get('q', '') }}" aria-label="{{ _('Search') }}">
                </form>
                <div class="section group">
                    <div class="col span_1_of_2">
                        <h4>{{ _("Want to recognize an achievement?") }}</h4>
                        <p>{{ _("Need to reward your community?") }}</p>
                        {% if not config.BADGER_ALLOW_ADD_ONLY_BY_MOZILLIANS or (not request.user.is_anonymous() and request.user.get_profile().is_vouched_mozillian()) %}
                            <p><a class="button-positive" href="{{ url('badger.views.create') }}">{{ _("Create a new badge") }}
                                <i class="fa fa-chevron-right"></i></a></p>
                        {% else %}
                            <p>{{ _("This service requires a vouched profile at <a href=\"https://mozillians.org\">mozillians.org</a>.") | fe() }}</p>
                        {% endif %}
                    </div>
                    <div class="col span_1_of_2">
                        <h4>Have a claim code?</h4>
                        <p>{{ _("Enter it here to get your badge!") }}</p>
                        <form method="post" action="{{ url('badger.views.claim_deferred_award') }}">
                            {{ csrf() }}
                            <p>
                                <input type="text" size="15" name="code" value="">
                                <button class="button-positive" type="submit">Claim <i class="fa fa-chevron-right"></i></button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            {% block content %}
                <div class="section group">
                    <div class="col span_1_of_2">
                        <h3><a href="{{ url('badger.views.badges_list') }}">{{ _('Recent Badges') }}</a></h3>
                        {% with %}
                            {% set include_new_badge_item=false %}
                            {% set include_more_badges_item=true %}
                            {% set cols=3 %}
                            {% set hide_pagination=true %}
                            {% include "badger/includes/badges.html" %}
                        {% endwith %}
                    </div>
                    <div class="col span_1_of_2">
                        <h3><a href="{{ url('badger.views.awards_list') }}">{{ _('Recent Awards') }}</a></h3>
                        {% with %}
                            {% set include_more_awards_item=true %}
                            {% set cols=3 %}
                            {% set hide_pagination=true %}
                            {% set user_first=true %}
                            {% include "badger/includes/awards.html" %}
                        {% endwith %}
                    </div>
                </div>
                {% if badge_tags %}
                    <h3>Popular Tags</h3>
                    <ul class="tags">
                        {% for item in badge_tags %}
                            <li><a class="tag" href="{{ url('badger.badges_list', tag_name=item.tag.name) }}">{{ item.tag.name }} <span class="meta">{{ item.count }}</span></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    </main>
{% endblock outer_content %}
