[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "django-notification"]
  path = vendor-local/src/django-notification
  url = git://github.com/lmorchard/django-notification.git