{% extends "notification/base.html" %}

{% set TITLE = _("Notification Settings") %}

{% block content %}
   <p>{{ _("Primary email") }}: <strong>{{ user.email }}</strong></p>

    <form method="post">
        {{ csrf() }}
        <table class="form">
            <thead>
                <tr>
                    <th>{{ _("Notification Type") }}</th>
                    {% for header in notice_settings.column_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in notice_settings.rows %}
                    <tr>
                        <th>
                            <label for="settings_{{ row.cells[0].0 }}">{{ _(row.notice_type.display) }}<br/>
                                <span class="helptext">{{ _(row.notice_type.description) }}</span></label>
                        </th>
                        {% for cell in row.cells %}
                            <td class="text-center">
                                <input type="checkbox" id="settings_{{ cell.0 }}" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <button class="button-positive" type="submit">{{ _("Update") }}</button>
            <a href="{{ url('notification_notices') }}" class="button-negative">Cancel</a>
        </p>
    </form>
{% endblock %}
