{% extends "notification/base.html" %}

{% set TITLE =_("Notifications") %}

{% block content %}
<p class="text-right">
    {# <a href="{{ url('notification_mark_all_seen') }}" class="button">{{ _("Mark all read") }}</a> #}
    <a href="{{ url('notification_notice_settings') }}" class="button"><i class="fa fa-cog"></i> {{ _('Settings') }}</a>
</p>
<ul class="notices">
    {% if notices %}
        {% for notice in notices[:50] %}{# TODO: Paginate #}
            <li class="notice{{ notice.is_unseen() and ' unseen' or '' }}">
                <strong class="type">
                    <a href="{{ url('notification_notice', notice.id) }}">{{ _(notice.notice_type.display) }}</a>
                </strong>
                <span class="timestamp">&mdash; {{ notice.added }}</span>
                <br>
                <span class="message">{{ notice.message|safe }}</span>
            </li>
        {% endfor %}
    {% else %}
        <li class="notice"><p>{{ _("No notices.") }}</p></li>
    {% endif %}
</ul>
{% endblock %}
