{% extends "base.html" %}

{% if request.user.is_authenticated() %}
    {% set TITLE = _("Already signed in") %}
{% else %}
    {% set TITLE = _("Sign in with Persona") %}
{% endif %}

{% block user_navigation %}
    {% if request.user.is_authenticated() %}{{ super() }}{% endif %}
{% endblock %}

{% block title %}
    {% if request.user.is_authenticated() %}
        {{ super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated() %}
        <p><a href="{{ url('django.contrib.auth.views.logout') }}">{{ _('Sign out?') }}</a></p>
    {% else %}
        <div class="text-center" style="font-size: 1.75em;">{% include "badger/includes/persona.html" %}</div>
    {% endif %}
{% endblock %}
