{% extends "base.html" %}

{% block site_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ static('css/studio.css') }}">
{% endblock %}

{% block studio %}
    <div id="studio">
        <div id="studio-output"></div>
        <form id="studio-input" method="post">
            {{ csrf() }}
            {% for field in form %}
                {% if field.is_hidden %}
                    <div class="item collapsed">
                        {{ field }}
                    </div>
                {% else %}
                    <h3 class="label">{{ field.label_tag() }}
                      {% if field.help_text %}
                        <a href="#help-section-{{ field.id_for_label }}" title="{{ _('Help') }}" class="help" aria-label="{{ _('Help for {section}') | fe(section=field.label) }}">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                      {% endif %}
                    </h3>
                    <div class="item">
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            {% block studio_actions %}
            {% endblock %}
        </form>
    </div>

    {% block studio_templates %}
        <template id="settings-template">
          <div id="settings" role="dialog" class="overlay hidden" arial-labelledby="settings-title" tabIndex="0">
            <header class="header">
              <h3 class="title" id="settings-title">{{ _('Settings') }}</h3>
            </header>
            <div class="panel">
              <h3 class="label"><label for="studio-settings-display">{{ _('Display') }}</label></h3>
              <p>
                <select name="display" id="studio-settings-display">
                  <option value="dark">{{ _('Dark') }}</option>
                  <option value="light">{{ _('Light') }}</option>
                </select>
              </p>
              <h3 class="label"><label for="studio-settings-badge-size">{{ _('Badge Size') }}</h3>
              <small>{{ _('Only affects display size') }}</small>
              <p>
                <select name="badge-size" id="studio-settings-badge-size">
                  <option value="1">{{ _('Normal') }}</option>
                  <option value="0.75">{{ _('Large') }}</option>
                  <option value="0.5">{{ _('Medium') }}</option>
                  <option value="0.25">{{ _('Small') }}</option>
                </select>
              </p>
            </div>
          </div>
        </template>

        <template id="help-template">
          <div id="help" role="dialog" class="overlay hidden" aria-labelledby="help-title" tabIndex="0">
            <header class="header">
              <h3 class="title" id="help-title">{{ _('Help') }}</h3>
            </header>
            <div class="panel">
              <dl class="help">
                {% for field in form.visible_fields() %}
                  {% if field.help_text %}
                    <dt id="help-section-{{ field.id_for_label }}-title">{{ _(field.label) }}</dt>
                      <dd id="help-section-{{ field.id_for_label }}" tabIndex="0" aria-labelledby="help-section-{{ field.id_for_label }}-title">{{ _(field.help_text) }}</dd>
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
          </div>
        </template>

        <template id="glyph-selector-template">
          <div id="glyph-selector" role="dialog" class="overlay hidden" aria-label="Select a glyph" tabIndex="0">
            <div class="header">
              <label class="title">Filter: <input type="search"></label>
            </div>
            <div class="panel">
              <ul>
              </ul>
            </div>
          </div>
        </template>

        <template id="glyph-selector-item-template">
          <li>
            <input type="radio" name="glyph-selector-item" class="hidden">
            <label></label>
          </li>
        </template>

        <template id="option-template">
          <label>
            <input type="hidden">
            <input type="checkbox">
            <span>Label</span>
          </label>
        </template>

        <template id="close-button-template">
          <button type="button" class="close fa fa-times-circle-o" aria-label="Close"></button>
        </template>

        <template id="custom-color-template">
          <label>
            <input type="color">
            <span>Label</span>
          </label>
        </template>
    {% endblock %}
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ static('js/studio.js') }}"></script>
{% endblock %}
