{% extends "base.html" %}

{% block pageid %}profile_edit{% endblock %}

{% block content %}

<h2>Edit profile for {{ profile.user }}</h2>

<form id="edit_profile" method="post" enctype="multipart/form-data" class="basic-form">
    {{ csrf() }}

    {% if user_form %}
        <fieldset>
            <legend>Account</legend>
            {{ user_form.as_p() }}
        </fieldset>
    {% endif %}

    <fieldset>
        <legend>Profile</legend>
        {{ profile_form.as_p() }}
    </fieldset>

    <p>
        <button type="submit" class="button">{{ _("Save") }}</button>
        <a href="{{ profile.user.get_absolute_url() }}" class="button-negative">{{ _("Cancel") }}</a>
    </p>
</form>

{% endblock %}
