{% extends "base.html" %}

{% block pageid %}profile_detail{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent awards') }}"
        href="{{ url('badger.feeds.awards_by_user', 'atom', user.username) }}" />
{% endblock %}

{% block content %}
    <h2>{{ _('Profile: {user}') | f(user=user) }}</h2>

    <dl class="profile">
        {% if profile.display_name %}
            <dt class="display_name">Display name:</dt><dd>{{ profile.display_name }}</dd>
        {% else %}
            <dt class="username">Username:</dt><dd>{{ user.username }}</dd>
        {% endif %}
        <dt class="avatar">Avatar:</dt><dd><img class="avatar" src="{{ user_avatar(profile.user) }}" /></dd>
        {% if profile.location %}
            <dt class="location">Location:</dt><dd>{{ profile.location }}</dd>
        {% endif %}
        {% if profile.bio_html %}
            <dt class="bio">Bio:</dt><dd>{{ profile.bio_html | safe }}</dd>
        {% endif %}
        <dt class="actions">Actions:</dt><dd><ul class="btn-list">
            {% if profile.allows_edit(request.user) %}
                <li><a class="btn btn-large btn-primary" href="{{ url('profiles.profile_edit', profile.user.username) }}">{{ _('Edit profile') }}</a>
                <li><a class="btn btn-large btn-primary" href="{{ url('notification_notices') }}">{{ _("View notifications") }}</a></li>
                <li><a class="btn btn-large btn-primary" href="{{ url('notification_notice_settings') }}">{{ _("Manage notification settings") }}</a></li>
                <li><a class="btn btn-large btn-primary" href="{{ url('valet_keys.views.list') }}" title="{{ _("Valet keys are credentials for use with the API") }}">{{ _("Manage valet keys") }}</a></li>
            {% endif %}
        </ul></dd>
        <dt class="created">Created:</dt><dd>{{ profile.created }}</dd>
        <dt class="modified">Modified:</dt><dd>{{ profile.modified }}</dd>
    </dl>

    {# TODO: Move this into Nomination model? #}
    {% if request.user == profile.user or request.user.is_superuser or request.user.is_staff %}
        {% if nominations_pending_approval %}
            {% set nominations_to_approve = nominations_pending_approval(profile.user) %}
            {% if nominations_to_approve %}
            <section id="nominations_to_approve">
                <header class="page-header">
                    <h3>Nominations for you to approve</h3>
                </header>
                <ul class="nominations">
                    {% for nomination in nominations_to_approve %}
                        <li><a href="{{ nomination.get_absolute_url() }}">{{ nomination }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        {% endif %}

        {% if nominations_pending_acceptance %}
            {% set nominations_to_accept = nominations_pending_acceptance(profile.user) %}
            {% if nominations_to_accept %}
            <section id="nominations_to_accept">
                <header class="page-header">
                    <h3>Nominations for you to accept</h3>
                </header>
                <ul class="nominations">
                    {% for nomination in nominations_to_accept %}
                        <li><a href="{{ nomination.get_absolute_url() }}">{{ nomination }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        {% endif %}
    {% endif %}

    {% set award_list = user_awards(profile.user) %}
    {% if award_list %}
        <h3>{{ _('Recently awarded badges for {user}') | f(user=user) }}</h3>
        {% with award_list = award_list[:11] %}
            {% set show_user = false %}
            {% set include_more_awards_item = url('badger.views.awards_by_user', profile.user.username) %}
            {% include "badger/includes/awards_list.html" %}
        {% endwith %}
    {% endif %}

    {% set badge_list = user_badges(profile.user) %}
    {% if badge_list %}
        <h3>{{ _('Badges created by {user}') | f(user=user) }}</h3>
        {% with badge_list = badge_list[:11] %}
            {% set include_new_badge_item = false %}
            {% set include_more_badges_item = url('badger.views.badges_by_user', profile.user.username) %}
            {% include "badger/includes/badges_list.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
