{% extends "valet_keys/base.html" %}

{% set TITLE = _("Disable your valet key") %}

{% block content %}
    <dl class="meta" id="key-{{ key.pk }}">
        <dt>{{ _("Created") }}</dt>
        <dd class="created">{{ key.created }}</dd>
        <dt>{{ _("Description") }}</dt>
        <dd class="description">{{ key.description }}</dd>
    </dl>
    <form method="POST" action="" class="key">
        {{ csrf() }}
        <p>Are you sure? This action cannot be undone.</p>
        <p>
            <button type="submit" name="action_disable" class="button-negative">{{ _("Yes, deactivate this key") }}</button>
            <a class="button" href="{{ url('valet_keys.list') }}">{{ _('Cancel') }}</a>
        </p>
    </form>
{% endblock %}
