{% extends "valet_keys/base.html" %}

{% set TITLE = _("Valet key history") %}

{% block content %}
    <div class="group section">
        <div class="col span_1_of_2">
            <dl class="meta" id="key-{{ key.pk }}">
                <dt>{{ _("Created") }}</dt>
                <dd class="created">{{ key.created }}</dd>
                <dt>{{ _("Description") }}</dt>
                <dd class="description">{{ key.description }}</dd>
            </dl>
        </div>
        <div class="col span_1_of_2">
            <p class="text-right">
                <a class="button" href="{{ url('valet_keys.list') }}">{{ _('Return to the key list') }}</a>
            </p>
        </div>
    </div>

{% if not items.object_list|length %}
    <p>{{ _("This key has not been used yet.") }}</p>
{% else %}
    <table class="form block">
        <thead>
            <tr>
                <th>Time</th>
                <th>Action</th>
                <th>Object</th>
                <th>Notes</th>
            </tr>
        </thead>
        {% for item in items.object_list %}
            <tr class="item">
                <td class="created">{{ item.created }}</td>
                <td class="action">{{ item.action }}</td>
                <td class="object">
                    {% set short_desc = item.content_object.__repr__() | truncate(50) %}
                    {% if item.content_object.get_absolute_url %}
                        <a href="{{ item.content_object.get_absolute_url() }}">{{ short_desc }}</a>
                    {% else %}
                        <span>{{ short_desc }}</span>
                    {% endif %}
                </td>
                <td class="notes">{{ item.notes }}</td>
            </tr>
        {% endfor %}
    </table>
    {# items|paginator #}
{% endif %}
{% endblock %}
