{% extends "valet_keys/base.html" %}

{% set TITLE = _("Create a new valet key") %}

{% block content %}
    {% if not key %}
        <p>
            {% trans %}
                Note: Try to be as clear as you can be in this description.
                This will be your only means of identifying this key later,
                other than the date and time of its creation.
            {% endtrans %}
        </p>

        <form class="basic-form" method="post">
            {{ csrf() }}
            {{ form.as_p() }}
            <p>
                <button type="submit" name="action_create" class="button-positive">{{ _("Create new key") }}</button>
                <a class="button-negative" href="{{ url('valet_keys.list') }}">{{ _('Cancel') }}</a>
            </p>
        </form>
    {% else %}
        <p class="alert">
            {% trans %}
                <span class="label label-warning">Note:</span>
                Reloading this page will create a new key. This information
                will never be displayed again, and cannot be recovered if lost.
            {% endtrans %}
        </p>
        {% trans %}
            <p>Your new key has been created. Please make a note of the details
            below (e.g. by copying them into your application's settings).</p>
        {% endtrans %}
        <dl class="key">
            <dt>{{ _("User name") }}</dt>
            <dd class="key"><code>{{ key.key }}</code></dd>
            <dt>{{ _("Password") }}</dt>
            <dd class="secret"><code>{{ secret }}</code></dd>
            <dt>{{ _("Created") }}</dt>
            <dd>{{ key.created }}</dd>
            <dt>{{ _("Description") }}</dt>
            <dd class="description">{{ key.description }}</dd>
        </dl>
        <p class="text-right">
            <a class="button-positive" href="{{ url('valet_keys.list') }}">{{ _('Return to the key list') }}</a>
        </p>
    {% endif %}
{% endblock %}
